# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
bin/
lib/
lib64/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
*.cover
*.py,cover
nosetests.xml
test.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.pyc

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pytest
.cache

# mypy
.mypy_cache/
